@import "tailwindcss";

:root {
  --background: #ffffff;
  --button: #e7e7e7;
  --container: #f5f5f5;
  --foreground: #171717;
  --foreground-faint: #555555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --button: #1a1a1a;
    --container: #121212;
    --foreground: #ededed;
    --foreground-faint: #888888;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ProseMirror h1 { @apply text-3xl font-bold my-4; }
.ProseMirror h2 { @apply text-2xl font-bold my-3; }
.ProseMirror h3 { @apply text-xl font-bold my-2; }
.ProseMirror p { @apply my-1; }
.ProseMirror blockquote { @apply border-l-4 border-gray-300 pl-4 italic my-2; }

.ProseMirror ul, .ProseMirror ol {
  @apply list-none my-2;
}

.ProseMirror li {
  position: relative;
  text-align: inherit;
  margin-inline-start: 1em;
  padding-inline-start: 0.5em;
}

.ProseMirror ul > li::before {
  content: "•";
}

.ProseMirror ol {
  counter-reset: list-counter;
}

.ProseMirror ol > li {
  counter-increment: list-counter;
}

.ProseMirror ol > li::before {
  content: counter(list-counter) ".";
}

.ProseMirror li::before {
  position: absolute;
}

.ProseMirror li::before {
  left: 0;
  transform: translate(-100%);
}

.ProseMirror li[dir="rtl"]::before {
  right: 0;
  left: initial;
  transform: translate(100%);
}

.ProseMirror ol > li[dir="rtl"]::before {
  content: counter(list-counter) ".";
}

.ProseMirror {
  width: 100%;
  margin: 0;
  outline: none;
}

button {
  border-radius: 0.5rem;
  background-color: var(--button);
  padding: 0.5rem 1rem;
  color: var(--foreground);
  cursor: pointer;
  transition: background-color 0.1s, color 0.3s;
}

button:hover {
  background-color: var(--foreground);
  color: var(--background);
}